body {
    color: #323232;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex-grow: 1;
}

header {
    margin-top: 20px;
    margin-bottom: 48px;
}

header a {
    color: #888888;
    text-decoration: none;
    margin-right: 16px;
}

h1 {
    color: aquamarine;
    font-weight: bold;
    margin-bottom: 16px;
}

footer {
    color: coral;
    border-top: 1px solid #EEEEEE;
    margin-top:10px;
    padding: 16px 0;
}
